.home-header {
  display: flex;
  justify-content: center;
  font-family: GuardianEgypThin, Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin: 20px 0 15px;
}

.home-featured-circles-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-circle-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}

.featured-img {
  height: 100px;
  width: 100px;
  background-color: rgba(128, 128, 128, 0.219);
  border-radius: 50%;
}

.featured-name {
  text-align: center;
  margin: 10px;
}

.display-product-main {
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(5, 100px);
  box-sizing: border-box;
  margin-top: 15px;
  justify-content: center;
}

.display-product-outer {
  box-sizing: border-box;
  width: 366px;
  position: relative
}

.display-product-price {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  padding: 4px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.116);
  font-family: GraphikMedium, Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
}

.display-img-outer {
  box-sizing: border-box;
  width: 288px;
  position: relative;
}

.display-product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: fit-content;
  border-radius: 10px;
  position: absolute;
}

.img0,
.img2,
.img5,
.img7 {
  height: 186px;
}

.img1,
.img3,
.img4,
.img6 {
  height: 286px;
}

.img0 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;

}

.img2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.img4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 6;
}

.img5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}

.img6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}

.img7 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}
