.photo-header {
  font-family: GuardianEgypLight, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.photo-caption {
  font-family: GraphikRegular, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.photo-upload-main {
  display: flex;
}

.file-upload-label {
  text-align: center;
  font-family: GraphikRegular, Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
  position: relative
}

.file-upload-outer {
  border: 1px solid rgba(128, 128, 128, 0.464);
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.file-upload-image {
  display: flex;
  padding: 0 2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.photo-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.delete-image-bin {
  position: absolute;
  bottom: 0;
  right: 0;
}
