NavLink {
  text-decoration: none;
}

.navBar-outer {
  display: flex;
  flex-direction: row;
}

.navBar-link {
  margin: 0 10px;
}

.navBar-featured-outer {
  display: flex;
}

.navBar-feature {
  margin: 8px;
}
