.product-main {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 16rem;
}

.product-left-main,
.product-right-main {
  display: flex;
  flex-direction: column;
}

.product-image-main {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

.product-preview-image-outer {
  width: 60px;
  height: 55px;
}

.product-preview-image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 4px;
}

.product-preview-image:hover {
  cursor: pointer;
}

.product-main-image-outer {
  width: 30rem;
  height: 30rem;
  margin: 0 8px;
}

.product-main-image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
