.product-main {
  display: flex;
  flex-direction: row;
  margin: 1.5rem auto;
  max-width: 70%
}

.product-left-main,
.product-right-main {
  display: flex;
  flex-direction: column;
}

.product-right-main {
  padding-left: 1rem;
  position: relative
}

.product-right-upper {
  position: relative;
  height: 30rem;
}

.product-shop-name {
  font-family: GraphikRegular;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.product-sales {
  font-family: GraphikLight;
  font-size: 0.9rem;
  padding: 0 0.3rem 1rem 0;
}

.product-name {
  font-family: GuardianEgypThin;
  font-size: 26px;
  word-wrap: break-word;
}

.product-price {
  font-size: 26px;
  font-family: GraphikProduktRegular;
}

.product-cart-outer {
  position: absolute;
  bottom: 2px;
  width: 100%;
}

.product-cart-button {
  width: 90%;
  height: 44px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
  font-family: GraphikRegular;
  font-size: 15px;
}

.divider {
  color: rgba(128, 128, 128, 0.23);
}

.product-image-main {
  display: flex;
  flex-direction: row;
}

.product-preview-image-outer {
  width: 60px;
  height: 55px;
}

.product-preview-image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 4px;
}

.product-preview-image:hover {
  cursor: pointer;
}

.product-main-image-outer {
  width: 30rem;
  height: 30rem;
  margin: 0 8px;
}

.product-main-image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-rating {
  display: flex;
  flex-direction: row;
}

.product-rating-stars {
  height: 12px;
  margin: 0 1px;
}

.product-review-stars {
  height: 15px;
  margin: 0 1px;
}

.product-reviews-header {
  display: flex;
  flex-direction: row;
}

.product-right-lower {
  padding: 1rem 0;
}

.product-description-header {
  padding-bottom: 1rem;
  font-family: GraphikMedium;
}

.product-description {
  font-family: GraphikRegular;
  word-wrap: break-word;
}

.product-reviews-header {
  margin: 1rem 0;
  font-family: GuardianEgypThin;
  font-size: 26px;
}

.product-reviews-num-ratings {
  margin-right: 1rem;
  display: flex;
}

.empty-stars-outer {
  margin-top: 2px;
}

.first-star {
  margin-left: 10px;
}

.empty-star {
  height: 20px;
}
