.searchBar-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.searchBar-input {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  font-family: GraphikLight, Arial, Helvetica, sans-serif;
  padding-left: 20px;
  width: 100%;
  cursor: default;
}

.searchBar-glass {
  height: 28px;
}

.searchBar-button {
  background-color: none;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.search-upper {
  border-top: 1px solid rgb(211, 211, 211);
  background-color: #FDEBD2;
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  height: 110px;
  min-width: 100%;
  z-index: -3;
}

.search-header {
  margin: 2rem 15.2rem 0;
  font-family: GuardianEgypLight, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.search-main {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 14rem;
}

.search-again-message {
  font-family: GraphikLight, Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
}
