.my-products-main {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-products-upper {
  border-top: 1px solid #b4e0bb;
  background-color: #D4E9D7;
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  min-height: 100px;
  min-width: 100%;
}

.my-products-header {
  margin: 2rem auto 0.5rem;
  font-family: GuardianEgypLight, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  width: 1220px;
}

.my-products-shop {
  font-family: GuardianEgypLight, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0 auto 2rem;
  width: 1220px;
  display: flex;
  align-items: center;
}

.my-products-shop:hover {
  text-decoration: underline;
  opacity: 0.75;
}

.shop-manager-shop-name:hover {
  padding-right: 8px;
}

.my-products-outer {
  width: 1226px;
  padding-top: 7.5rem;
}

.my-products-inner {
  display: grid;
  grid-template-columns: minmax(210px, 18.75%) minmax(360px, 31.25%) minmax(210px, 18.75%) minmax(360px, 31.25%);
  justify-content: center;
  margin-top: 1rem;
}

.my-products-img-main {
  min-width: 210px;
  height: 190px;
  margin-bottom: 1rem;
}

.my-products-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-products-info {
  padding: 0 15px;
  position: relative;
}

.my-product-category,
.my-product-price {
  font-family: GraphikRegular, Arial, Helvetica, sans-serif;
}

.my-product-name {
  font-family: GraphikLight, Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  margin: 0.5rem 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 550px;
  height: 100px;
}

.my-product-price {
  margin: 0.5rem 0;
}

.my-product-buttons {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.my-product-edit-button,
.my-product-delete-button {
  border: none;
  background-color: black;
  color: white;
  font-family: GraphikRegular, Arial, Helvetica, sans-serif;
  padding: 4px 8px 2px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.delete-confirm-outer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.delete-return-button {
  width: 134px;
  padding: 5px 0;
  border: none;
  background-color: #d4e9d77c;
  color: #050404a6;
  border-radius: 10px;
  font-size: 11px;
  font-family: GraphikThin, Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  cursor: pointer;
}

.delete-message {
  font-family: GuardianEgypRegular, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.delete-confirm-button-outer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.delete-confirm-button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: GraphikRegular, Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {

  .my-products-header,
  .my-products-shop {
    width: 1200px;
  }

  .my-products-outer {
    width: 1210px;
  }
}

@media screen and (max-width: 1280px) {

  .my-products-header,
  .my-products-shop {
    width: 1080px;
  }

  .my-products-inner {
    grid-template-columns: 200px 340px 200px 340px;
  }

  .my-products-img-main {
    min-width: 200px;
  }
}
